.vscode/**
.vscode-test/**
dist/**
images/Screenshot/**
node_modules/**
test/**
src/**
**/*.map
**/*.ts
.gitignore
tsconfig.json
tslint.json
webpack.config.js

_layouts/**
_site/**
assets/**
_config.yml
_site
Gemfile
Gemfile.lock

!node_modules/browserslist/index.js
!node_modules/autoprefixer/lib/autoprefixer.js