_layouts/**
_site
_site/**
.vscode/**
.vscode-test/**
assets/**
dist/**
images/Screenshot/**
node_modules/**
out/announcement/**
out/test/**
src/**

**/*.map
**/*.ts
**/*.vsix
_config.yml
.gitignore
tsconfig.json
tslint.json
webpack.config.js