.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
images/Screenshot/**
tsconfig.json
vsc-extension-quickstart.md

_layouts/**
Gemfile
Gemfile.lock
_site/**
assets/**
_config.yml
_site
